#pgInventory {
    .page {
        background: #d1d1d1;
        padding: 1rem 1.5rem;
    }

    .main-hdr {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        padding: 0 .5rem;

        &-title {
            color: $color-primary;
            font-size: 1.2rem;
            font-weight: 700;
            margin: 0;
        }

        &-nav {
            display: flex;
        }

        &-btn {
            align-items: center;
            border: 1px solid #b1b1b1;
            color: #052668;
            cursor: pointer;
            display: flex;
            font-size: .9rem;
            font-weight: 700;
            margin: 0 2px;
            padding: 4px 10px;
            transition: background-color 200ms ease-in-out;

            &:hover {
                background-color: #f6f6f6;
            }

            &.active {
                background-color: $color-primary;
                color: $white;
            }

            .material-icons {
                margin-right: 5px;
            }

            .icon-tbl {
                font-size: 15px;
            }

            .icon-chart {
                font-size: 19px;
                width: 16px;
            }
        }

        &-search {
            position: relative;
            width: 215px;

            .input-search {
                padding: .35rem;
            }

            .icon-search {
                bottom: 2px;
                position: absolute;
                right: 2px;
            }
        }

    }

    .main-stage {
        background: #fff;
        border-radius: 2px;
        box-shadow: 1px 1px 2px 0px rgba(153,153,153,.7);
        padding: 1rem;
    }

    .main-charts {
        margin: 0 auto;
        padding: 0 0 30px;
        width: 90%;
    }
}

#tblInventory {
    font-size: .9rem;

    thead th {
        font-size: .9rem;
    }

    tbody tr:nth-of-type(odd) {
        background-color: rgba(5, 38, 104, 0.23);

        &.selected {
            background-color: rgba(252, 215, 0, .3);
        }
    }
}

#tblInventory_wrapper {
    .tbl-hdr label {
        font-size: .9rem;
    }
}

#tblInventory_filter {
    label {
        font-size: .9rem;
    }
}

.tbl-btm {
    align-items: center;
    display: flex;
    font-size: .9rem;
    justify-content: space-between;
    padding: 0 .3rem;

    #tblInventory_info {
        padding-top: 0;
    }
}