.back-to-top {
    align-items: center;
    background-color: rgba($color-tertiary, .7);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    bottom: 115px;
    cursor: pointer;
    display: none;
    height: 45px;
    justify-content: center;
    position: fixed;
    right: 0;
    transition: background-color 200ms ease-in-out;
    width: 45px;
    z-index: 12; 

    &.btn-show {
        display: flex;
    }

    &:hover {
        background-color: rgba($color-tertiary, 1);
    }
}