.table {
    font-size: .85rem;

    @media (min-width: 992px) {
        font-size: 1rem;
    }
}

.table thead th {
    color: $black;
    font-size: .85rem;

    @media (min-width: 992px) {
        font-size: .95rem;
    }
}

.page-item .page-link {
    border-radius: 3px;
    color: $color-primary;
    transition: none;
}

.page-item.active .page-link {
    background-color: $color-primary;
    border-color: $color-primary-light;
    color: $white;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    border-radius: 3px;
    padding: .5rem .75rem;
}

.dataTables_wrapper {
    .row {
        &:first-child {
            div {
                &:last-child {
                    align-self: flex-end;
                }
 
            }
        }
    }
}

table.dataTable tr.dtrg-group.dtrg-level-1 td, 
table.dataTable tr.dtrg-group.dtrg-level-2 td {
   padding: .55em .75em;
}

table.dataTable tbody>tr.selected, 
table.dataTable tbody>tr>.selected {
    background-color: rgba(252, 215, 0, .3);
    color: $black;
}

table.dataTable tr.dtrg-group.dtrg-level-0 td {
    background-color: $color-primary-light;
    color: $white;
}

table.dataTable tr.dtrg-group.dtrg-level-1 td {
    background-color: #4c6fb3;
    color: $white;
    // background-color: #e0e0e0;
    // color: #000;
}

.tbl-hdr {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;

    label {
        font-size: .85rem;

        @media (min-width: 992px) {
            font-size: 1rem;
        }
    }

    @media (min-width: 992px) {
        align-items: flex-end;
    }

    .dt-buttons {
        margin: 0 0 0 auto;
        width: auto;

        @media (min-width: 992px) {
            margin: 10px 1px 10px 10px;
        }
    }

    .btn-secondary {
        background-color: #efefef;
        border: 1px solid #ddd;
        border-radius: 2px;
        color: $black;
        font-size: .8rem;
        margin-bottom: 0;
        padding: .375rem .75rem;

        @media (min-width: 992px) {
            padding: .375rem 1rem;
        }

        &:hover {
            background-color: #e4e4e4;
            color: #000;
        }

        &.btn-active {
            background-color: #e4e4e4;
            border: 1px solid #bdb9b9;
            color: #000;
        }

        &:not(:last-child) {
            margin-right: 5px;
        }

        &.btn-excel {
            background: url('../../../img/icons/icon-excel.svg') no-repeat 7px 4px;
            background-color: #efefef;
            background-size: 22px 22px;
            width: 38px;

            &:hover {
                background-color: #e4e4e4;
            }
        }
    }
}

.dataTables_filter {
    margin: 10px 0 0;
    width: 100%;

    @media (min-width: 992px) {
        margin-left: auto;
        width: auto;
    }

    label {
        align-items: center;
        display: flex;
        width: 100%;

        @media (min-width: 992px) {
            display: block;
            width: auto;
        }
    }

    input[type=search] {
        background-image: linear-gradient(0deg,$color-primary 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
        flex-grow: 1;
        font-size: .95rem;
        padding: .35rem;

        @media (min-width: 992px) {
            width: 300px !important;
        }     
    }
}

.dataTables_wrapper .custom-select {
    width: auto;
    display: inline-block;
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    height: calc(2.125rem + 2px);
    font-size: 13px;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
    background-size: 8px 10px;
    border: 1px solid rgba(0,0,0,.26);
    border-radius: .125rem;
    -webkit-appearance: none;
    appearance: none;
}

.custom-select:focus {
    border-color: #98a2db;
    outline: 0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.075), 0 0 5px rgba(152,162,219,.5);
}
